@model IEnumerable<Book>
@{
    Layout = "_PDFLayout";
}

<table class="table" style="width:100%">
    <thead>
        <tr>
            <th scope="col">Title</th>
            <th scope="col">Author</th>
            <th scope="col">Created On</th>
            <th scope="col">Categories</th>
            <th scope="col">Publishing Date</th>
            <th scope="col">Hall</th>
            <th scope="col">Is Available For Rental?</th>
            <th scope="col">Status?</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var book in Model)
        {
            <tr>
                <th>@book.Title</th>
                <td>@book.Author!.Name</td>
                <td>@book.CreateOn</td>
                <td>@(string.Join(" & ", book.Categories.Select(c => c.Category!.Name)))</td>
                <td>@book.PublishingDate</td>
                <td>@book.Hall</td>
                <td>@(book.IsAvailableForRental ? "yes" : "No")</td>
                <td>@(book.IsDeleted ? "Not Available" : "Available")</td>
            </tr>
        }
    </tbody>
</table>