@model BookCopyViewModel

<tr>
    <td>@Model.SerialNumber</td>
    <td>@Model.EdittionNumber</td>
    <td>@Model.BookHall</td>
    <td><span class="badge bg-label-@(Model.IsAvailableForRental?"success":"warning")">@(Model.IsAvailableForRental ? "Available" : "Not Available")</span></td>
    <td><span class="badge bg-label-@(!Model.IsDeleted?"success":"danger") js-status">@(!Model.IsDeleted ? "Available" : "Deleted")</span></td>
    <td>@Model.CreateOn.ToString("dd, MMM yyyy")</td>
    <td>
        <div class="dropdown">
            <a class="btn p-0 dropdown-toggle hide-arrow" data-bs-toggle="dropdown">
                <i class="bx bx-dots-vertical-rounded"></i>
            </a>
            <div class="dropdown-menu">
                <a class="dropdown-item js-render-modal" href="javascript:;" data-updated="true" data-title="Edit Copy" data-url="/BookCopies/Edit/@Model.Id"><i class="bx bx-edit-alt me-1"></i>Edit</a>
                <a class="dropdown-item js-toggle-status" href="javascript:;" data-url="/BookCopies/ToggleStatus/@Model.Id"><i class="bx bx-trash me-1"></i>Toggle Status</a>
            </div>
        </div>
    </td>
</tr>