@model SubscriberViewModel
@inject Microsoft.AspNetCore.Antiforgery.IAntiforgery IAntiforgery
@{
    ViewData["Title"] = Model.FullName;

    var lastSubscrbtion = Model.Subscribtions.Last();

    var status = Model.IsBlackListed ? SubscribtionStatus.Banned
    : lastSubscrbtion.Status == SubscribtionStatus.Expired ? SubscribtionStatus.Expired : SubscribtionStatus.Active;

    var bgStatus = status == SubscribtionStatus.Banned ? "danger" :
                    status == SubscribtionStatus.Expired ? "warning" : "success";
}
<div class="row">
    <div class="card">
        <div class="card-body">
            <div class="row justify-content-between">

                <div class="col-md-auto">
                    <span class="badge bg-label-secondary">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-arms-up" viewBox="0 0 16 16">
                            <path d="M8 3a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3"></path>
                            <path d="m5.93 6.704-.846 8.451a.768.768 0 0 0 1.523.203l.81-4.865a.59.59 0 0 1 1.165 0l.81 4.865a.768.768 0 0 0 1.523-.203l-.845-8.451A1.5 1.5 0 0 1 10.5 5.5L13 2.284a.796.796 0 0 0-1.239-.998L9.634 3.84a.7.7 0 0 1-.33.235c-.23.074-.665.176-1.304.176-.64 0-1.074-.102-1.305-.176a.7.7 0 0 1-.329-.235L4.239 1.286a.796.796 0 0 0-1.24.998l2.5 3.216c.317.316.475.758.43 1.204Z"></path>
                        </svg>
                    </span>
                    Subscribers
                </div>
                <div class="col-md-auto">
                    <a class="btn btn-primary text-white" asp-route-id="@Model.Id" asp-action="Edit">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                            <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z" />
                            <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5z" />
                        </svg>
                        Edit
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row mt-5 d-flex justify-content-between">
    <div class="col-4 card">
        <div class="card-body">
            <div class="row mb-7">
                <div class="text-center">
                    <a data-fslightbox href="@(Model.ImageUrl)">
                        <img src="@(Model.ImageThumbnailUrl)" alt="Book Image">
                    </a>
                </div>
            </div>
            <div class="row">
                <div class="text-center fs-3 text-primary">@Model.FullName</div>
            </div>
            <div class="row mt-4">
                <div class="col">Details</div>
                <div class="col text-end">
                    <span class="badge bg-label-@bgStatus">@status-Subscriber</span>
                </div>
            </div>
            <hr />
            <div class="pb-0 fs-6">
                <!--begin::Details item-->
                <div class="fw-bold mt-2">National ID</div>
                <div class="text-gray-600">ID-@Model.NationalId</div>
                <!--begin::Details item-->
                <!--begin::Details item-->
                <div class="fw-bold mt-2">Email</div>
                <div class="text-gray-600"><a href="#" class="text-gray-600 text-hover-primary">@Model.Email</a></div>
                <!--begin::Details item-->
                <!--begin::Details item-->
                <div class="fw-bold mt-2">Address</div>
                <div class="text-gray-600">@Model.Address, <br>@Model.Area<br>@Model.Governorate</div>
                <!--begin::Details item-->
                <!--begin::Details item-->
                <div class="fw-bold mt-2">Birth Of Data</div>
                <div class="text-gray-600">@Model.BirthOfDate.ToString("dd MMM,yyyy")</div>

                <div class="fw-bold mt-2">Phone</div>
                <div class="text-gray-600">@Model.MobileNumber</div>

                <div class="fw-bold mt-2">Have A WhatsApp ?</div>
                <div class="text-gray-600">@(Model.HasWhatsApp ? "Yes" : "No")</div>

                <div class="fw-bold mt-2">Blacklisted</div>
                <div class="text-gray-600">@(Model.IsBlackListed ? "Yes" : "No")</div>
                <!--begin::Details item-->
            </div>
        </div>
    </div>
    <div class="col">
        <div class="row">
            <div class="col">
                <ul class="nav nav-tabs ms-4" id="myTab" role="tablist">
                    <li class="nav-item" role="presentation">
                        <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home" type="button" role="tab" aria-controls="home" aria-selected="true">Overview</button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile" type="button" role="tab" aria-controls="profile" aria-selected="false">Rentals</button>
                    </li>
                </ul>
                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                        <div class="row">
                            <div class="col">
                                <div class="card">
                                    <h5 class="card-header"># of Copies</h5>
                                    <div class="card-body">
                                        <span>
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-copy" viewBox="0 0 16 16">
                                                <path fill-rule="evenodd" d="M4 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H6a2 2 0 0 1-2-2zm2-1a1 1 0 0 0-1 1v8a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1zM2 5a1 1 0 0 0-1 1v8a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1v-1h1v1a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V6a2 2 0 0 1 2-2h1v1z" />
                                            </svg>
                                        </span>
                                        <span id="numOfCopies">@Model.Rentals.Sum(c => c.NumberCopies)</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="card">
                                    <div class="card-body badge bg-@bgStatus">
                                        <div class="row">
                                            <div class="text-start">
                                                @if (status == SubscribtionStatus.Expired)
                                                {
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="60" height="60" fill="currentColor" class="bi bi-cloud-slash" viewBox="0 0 16 16">
                                                        <path fill-rule="evenodd" d="M3.112 5.112a3 3 0 0 0-.17.613C1.266 6.095 0 7.555 0 9.318 0 11.366 1.708 13 3.781 13H11l-1-1H3.781C2.231 12 1 10.785 1 9.318c0-1.365 1.064-2.513 2.46-2.666l.446-.05v-.447q0-.113.018-.231zm2.55-1.45-.725-.725A5.5 5.5 0 0 1 8 2c2.69 0 4.923 2 5.166 4.579C14.758 6.804 16 8.137 16 9.773a3.2 3.2 0 0 1-1.516 2.711l-.733-.733C14.498 11.378 15 10.626 15 9.773c0-1.216-1.02-2.228-2.313-2.228h-.5v-.5C12.188 4.825 10.328 3 8 3c-.875 0-1.678.26-2.339.661z" />
                                                        <path d="m13.646 14.354-12-12 .708-.708 12 12z" />
                                                    </svg>
                                                }
                                                else if (status == SubscribtionStatus.Banned)
                                                {
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="60" height="60" fill="currentColor" class="bi bi-ban" viewBox="0 0 16 16">
                                                        <path d="M15 8a6.97 6.97 0 0 0-1.71-4.584l-9.874 9.875A7 7 0 0 0 15 8M2.71 12.584l9.874-9.875a7 7 0 0 0-9.874 9.874ZM16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0" />
                                                    </svg>
                                                }
                                                else
                                                {
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="60" height="60" fill="currentColor" class="bi bi-check2-circle" viewBox="0 0 16 16">
                                                        <path d="M2.5 8a5.5 5.5 0 0 1 8.25-4.764.5.5 0 0 0 .5-.866A6.5 6.5 0 1 0 14.5 8a.5.5 0 0 0-1 0 5.5 5.5 0 1 1-11 0" />
                                                        <path d="M15.354 3.354a.5.5 0 0 0-.708-.708L8 9.293 5.354 6.646a.5.5 0 1 0-.708.708l3 3a.5.5 0 0 0 .708 0z" />
                                                    </svg>
                                                }
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="h3 text-white">@status Subscriber</div>
                                        </div>
                                        <div class="row">
                                            <div class="h6 text-white">
                                                Subscriber Since : @Model.CreateOn.ToString("dd MMM,yyyy ")
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row mt-4 ms-2">
                            <div class="card">
                                <div class="card-header row">
                                    <div class="col h5 text-black">Renewal History</div>
                                    @if (!Model.IsBlackListed)
                                    {
                                        <div class="col text-end">
                                            <a class="btn btn-success text-white js-renew" data-url="/Subscribers/Renew?sKey=@Model.Id" href="javascript:;">
                                                <span>
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-repeat" viewBox="0 0 16 16">
                                                        <path d="M11.534 7h3.932a.25.25 0 0 1 .192.41l-1.966 2.36a.25.25 0 0 1-.384 0l-1.966-2.36a.25.25 0 0 1 .192-.41m-11 2h3.932a.25.25 0 0 0 .192-.41L2.692 6.23a.25.25 0 0 0-.384 0L.342 8.59A.25.25 0 0 0 .534 9" />
                                                        <path fill-rule="evenodd" d="M8 3c-1.552 0-2.94.707-3.857 1.818a.5.5 0 1 1-.771-.636A6.002 6.002 0 0 1 13.917 7H12.9A5 5 0 0 0 8 3M3.1 9a5.002 5.002 0 0 0 8.757 2.182.5.5 0 1 1 .771.636A6.002 6.002 0 0 1 2.083 9z" />
                                                    </svg>
                                                </span>Renew
                                            </a>
                                        </div>
                                    }
                                </div>
                                <div class="card-body">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th>Start Date</th>
                                                <th>End Date</th>
                                                <th>Status</th>
                                                <th>Add On</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var subscribtion in Model.Subscribtions)
                                            {
                                                <tr>
                                                    <td>@subscribtion.StartDate.ToString("dd MMM,yyyy ")</td>
                                                    <td>@subscribtion.EndDate.ToString("dd MMM,yyyy ")</td>
                                                    <td>@subscribtion.Status</td>
                                                    <td>@subscribtion.CreatedOn</td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                        <div class="card">
                            <div class="card-header row">
                                <div class="col  text-black h5">Rentals</div>
                                @if (status == SubscribtionStatus.Active)
                                {
                                    <div class="col text-end">
                                        <a class="btn btn-success text-white" asp-action="Create" asp-route-sKey="@Model.Id" asp-controller="Rentals">
                                            <span>
                                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus" viewBox="0 0 16 16">
                                                    <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4" />
                                                </svg>
                                            </span>Add Copy
                                        </a>
                                    </div>
                                }
                            </div>
                            <div class="card-body">
                                <partial name="_Rentals" model="@Model.Rentals" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<input type="hidden" name="__RequestVerificationToken" value="@(IAntiforgery.GetAndStoreTokens(Context).RequestToken)" />
@section Scripts
{
    <script src="~/lib/fslightbox/index.min.js"></script>
    <script src="~/js/subscriper-details.js" asp-append-version="true"></script>
}